body{
    background: rgb(98, 163, 223);
}

.box{
    position: relative;
    margin: auto;
    display: block;
    margin-top: 8%;
    width: 600px;
    height: 420px;
    background: none;    
}

.head{
    position: absolute;
    top: 16.5%;
    left: 25%;
    width: 50%;
    height: 57%;
    background: #A6Becf;
    border-radius: 50% / 60% 60% 30% 30%;
}

.head_copy{
    width: 100%;
    height: 100%;
    position: absolute;
    background: #A6Becf;
		border-radius: 50% / 60% 60% 30% 30%;
    z-index: 2;
}

.ear_left{
    position: absolute;
    width: 60%;
    height: 50%;
    left: -15%;
    top: 25%;
    background: #A6Becf;
    border-radius: 50%;
    z-index: 1;
}

.ear_right{
    position: absolute;
    width: 60%;
    height: 50%;
    right: -15%;
    top: 25%;
    background: #A6Becf;
    border-radius: 50%;
    z-index: 1;
}

.inner_ear{
    position: absolute;
    border-radius: 50%;
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
    background: #819CAF;
}

.eye_left{
    position: absolute;
    background: #27354A;
    width: 15%;
    height: 15%;
    top: 55%;
    left: 4%;
    border-radius: 50%;
    z-index: 2;
}

.eye_right{
    position: absolute;
    background: #27354A;
    width: 15%;
    height: 15%;
    top: 55%;
    right: 4%;
    border-radius: 50%;
    z-index: 2;
}

.pupil{
    position: absolute;
    width: 40%;
    height: 50%;
    top: 15%;
    left: 20%;
    border-radius: 50%;
    background: white;
}

.pupil_small{
    position: absolute;
    background-color: white;
    width: 50%;
    height: 50%;
    top: 80%;
    right: -15%;
    border-radius: 50%;
}

.blush{
    position: absolute;
    background: rgb(175, 134, 136);
    width: 70%;
    height: 50%;
    top: 90%;
    right: 15%;
    border-radius: 45%;
    z-index: 3;
}

.nose{
    position: absolute;
    background: #BE845F;
    width: 14%;
    height: 20%;
    left: 45%;
    top: 50%;
    border-radius: 50% / 60% 60% 30% 30%;
    z-index: 4;
}

.hair{
    position: absolute;
    top: -8%;
    left: 43%;
    width: 20%;
    height: 20%;
    background:  #A6BECF;
    clip-path: polygon(50% 0%, 57% 4%, 46% 28%, 65% 57%, 55% 62%, 31% 26%);
}
